.wrapper {
    --margin: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
}

.panel {
    position: relative;
    width: 49%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title {
    height: 100px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.icon-gear {
    position: relative;
    height: 70%;
}

.images {
    align-items: center;
}

.image {
    margin: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.item {
    opacity: 50%;
    object-fit: fill;
    max-width: 500px;
    max-height: 100px;
    margin: 20px 120px 20px;
}

.slides {
    position: relative;
    width: 1px;
    height: calc( var(--height-body) - calc(2 * var(--margin)));
    background-color: var(--primary);
    opacity: 50%;
    margin: var(--margin);
}

.login {
    padding: 30px;
    position: relative;
    width: 49%;
    height: calc( var(--height-body) - calc(2 * var(--margin)));
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.login-title {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    &::after {
        position: relative;
        content: "";
        width: 100%;
        height: 1px;
        background-color: var(--primary);
    }
}

.login-form {
    width: 80%;
}

.login-input {
    position: relative;
    height: 3rem;
    font-size: 1.5rem;
}

.login-button {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    &::before {
        position: relative;
        content: "";
        width: 100%;
        height: 1px;
        background-color: var(--primary);
    }
}

.login-submit {
    margin: 20px;
    width: 200px;
    height: 60px;
    background-color: var(--primary);
    font-size: large;
    border-radius: 10px;
    color: var(--secondary);
    font-size: 1.8rem;
    &:hover {
        opacity: 80%;
    }
}